/*HELP*/
#help {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: 100vh;
    left: 100vw;
    width: 300px;
    margin-left: 20px;
    border-radius: 20px;
    padding: 15px;
    background: var(--background4);
    color: var(--text-color4);
    z-index: 5;
    --top: 0;
    --left: 0;
    --bottom: unset;
    --right: unset;
    --clip-path: polygon(0 0, 50% 50%, 100% 0);
    transition: opacity 0.5s, visibility 0.5s, margin-left 0.5s, margin-top 0.5s;
}
#help::after {
    position: absolute;
    top: var(--top);
    bottom: var(--bottom);
    left: var(--left);
    right: var(--right);
    width: 40px;
    height: 40px;
    background: inherit;
    clip-path: var(--clip-path);
    content: ' ';
}
div[data-help]>iframe {
    pointer-events: none;
}

/*HELP*/